{% extends 'base.html.twig' %}

{% block title %}Hello ToursController!{% endblock %}


{% block stylesheets %}
{{include("tours/_style.css.twig")}}
{%endblock%}


{% block javascripts%}
<script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 5000); // Change image every 5 seconds
        }

        function plusSlides(n) {
            showManualSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showManualSlides(slideIndex = n);
        }

        function showManualSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>

{% endblock %}

{% block body %}

    {{include("tours/_header.html.twig")}}

    

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1>{{route.name}}</h1>
                {{route.description| raw}}

                <div class="slideshow-container">
                {% for photo in route.getPhotos().ToArray()%}
                    <div class="mySlides">
                        <img src="{{ asset('images/' ~ photo.photo) }}" style="height:300px">
                    </div>
                    {%endfor%}

                    

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                

                <h2>Программа Поездки</h2>
                {{route.program | raw}}
                
            </article>

            <aside id="sidebar">
                <div class="quote">
                    <h3>Доступные Даты и Цены</h3>
                    <div class="dates-prices">
                        <table>
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Цена</th>
                                    <th>Мест</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for trip in route.getTrips().ToArray()|sort((a, b) => 
    date(a.StartDate) <=> date(b.StartDate)
)%}
{% if date(trip.StartDate) > date()%}
                                <tr>
                                    <td>{{trip.StartDate|date("d.m.Y")}} - {{ trip.StartDate|date_modify('+' ~ route.routeSpan.d ~" days")|date("d.m.Y") }}</td>
                                    <td>{{trip.price}} RUB</td>
                                    <td>{{trip.SpotsNumber}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                    <br>
                    {{route.additionalInfo | raw}}
                </div>
            </aside>
        </div>
    </section>

    {{include("tours/_footer.html.twig")}}

    




{% endblock %}
