{% extends 'base.html.twig' %}

{% block title %}Route index{% endblock %}

{% block body %}
    <h1>Route index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Program</th>
                <th>Additional_info</th>
                <th>Trip_span</th>
                <th>Duration</th>
                <th>Route_span</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td>{{ route.id }}</td>
                <td>{{ route.name }}</td>
                <td>{{ route.description }}</td>
                <td>{{ route.program }}</td>
                <td>{{ route.additionalInfo }}</td>
                <td>{{ route.tripSpan ? route.tripSpan.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>{{ route.duration }}</td>
                <td>{{ route.routeSpan ? route.routeSpan.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>
                    <a href="{{ path('app_route_show', {'id': route.id}) }}">show</a>
                    <a href="{{ path('app_route_edit', {'id': route.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_route_new') }}">Create new</a>
{% endblock %}
