{% extends 'base.html.twig' %}

{% block title %}Triprequest index{% endblock %}

{% block body %}
    <h1>Triprequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>People_number</th>
                <th>Active</th>
                <th>Processed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for triprequest in triprequests %}
            <tr>
                <td>{{ triprequest.id }}</td>
                <td>{{ triprequest.name }}</td>
                <td>{{ triprequest.email }}</td>
                <td>{{ triprequest.phone }}</td>
                <td>{{ triprequest.peopleNumber }}</td>
                <td>{{ triprequest.active ? 'Yes' : 'No' }}</td>
                <td>{{ triprequest.processed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_triprequest_show', {'id': triprequest.id}) }}">show</a>
                    <a href="{{ path('app_triprequest_edit', {'id': triprequest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_triprequest_new') }}">Create new</a>
{% endblock %}
