{% extends 'base.html.twig' %}

{% block title %}Triprequest{% endblock %}

{% block stylesheets %}
{{include("tours/_style.css.twig")}}
{% endblock %}

{% block body %}
<div class="admin-menu-container">
    <h1>Запрос на путешествие</h1>

    <table class="styled-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ triprequest.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ triprequest.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ triprequest.email }}</td>
            </tr>
            <tr>
                <th>Номер телефона</th>
                <td>{{ triprequest.phone }}</td>
            </tr>
            <tr>
                <th>Количество людей</th>
                <td>{{ triprequest.peopleNumber }}</td>
            </tr>
            <tr>
                <th>Активен</th>
                <td>{{ triprequest.active ? 'Да' : 'Нет' }}</td>
            </tr>
            <tr>
                <th>Обработан</th>
                <td>{{ triprequest.processed ? 'Да' : 'Нет' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_triprequest_index') }}">Назад к списку</a>

    <a href="{{ path('app_triprequest_edit', {'id': triprequest.id}) }}">Редактировать</a>

    {{ include('triprequest/_delete_form.html.twig') }}
    </div>
{% endblock %}
