{% extends 'base.html.twig' %}

{% block title %}Trips index{% endblock %}

{% block stylesheets %}
{{include("tours/_style.css.twig")}}
{% endblock %}

{% block body %}
<div class="admin-menu-container">
    <h1>Trips index</h1>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Spots_number</th>
                <th>StartDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td>{{ trip.id }}</td>
                <td>{{ trip.price }}</td>
                <td>{{ trip.spotsNumber }}</td>
                <td>{{ trip.startDate ? trip.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_trips_show', {'id': trip.id}) }}">show</a>
                    <a href="{{ path('app_trips_edit', {'id': trip.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trips_new') }}">Create new</a>
    </div>
{% endblock %}
